# -------------------------
# OS-specific
# -------------------------
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

# -------------------------
# Python bytecode and cache
# -------------------------
__pycache__/
*.py[cod]
*$py.class

# -------------------------
# Virtual environments
# -------------------------
venv/
.venv/
env/
ENV/

# -------------------------
# Distribution / packaging
# -------------------------
build/
dist/
*.egg-info/
.eggs/

# -------------------------
# Unit test / coverage reports
# -------------------------
.coverage
.tox/
.nox/
htmlcov/
.pytest_cache/

# -------------------------
# Environment / secrets
# -------------------------
.env
.env.*
*.secret
*.key

# -------------------------
# Jupyter Notebook checkpoints
# -------------------------
.ipynb_checkpoints

# -------------------------
# Logs
# -------------------------
*.log

# -------------------------
# IDE / Editor settings
# -------------------------
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# -------------------------
# Data files / folders
# -------------------------
# data/
# *.csv
# *.tsv
# *.json
# *.xlsx
# *.xls
# *.parquet
# *.h5
# *.hdf5
sandbox/scrapers/url_scraper/dr_urls.txt
sandbox/scrapers/article_scraper/archive
sandbox/scrapers/article_scraper/404_errors.txt
sandbox/scrapers/article_scraper/redirect_errors.txt